<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ljm.graphics"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-configuration android:reqTouchScreen="finger" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="true" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.examples.customtouch.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >

            <!-- android:name="com.examples.customtouch.MainActivity" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ljm.testmultitouch.MultiTouchDemoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ljm.gesture.easysample.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.TwoDimensionScrollActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.TwoDimensionGestureScrollActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.MultitouchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.MoveLoggerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.TouchForwardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.TouchDelegateActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.TouchListenerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.examples.customtouch.TouchInterceptActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ljm.testmultitouch.TestMultiTouchEventActivity"
            android:label="@string/title_activity_test_multi_touch_event"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.ljm.testmatrix.TestMatrixMathActivity"
            android:label="@string/title_activity_test_matrix_math"
            android:screenOrientation="landscape"
             >
        </activity>
        
                <activity
            android:name="com.ljm.testdrawline.DrawLineSampleActivity"
            android:screenOrientation="landscape"
             >
        </activity>
        
    </application>

</manifest>